<!--
Project: DymamicAuthProviders
Copyright (c) 2018 @@Olivier Lefebvre
-->
@model Aguacongas.AspNetCore.Authentication.Sample.Models.AuthenticationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create scheme</h1>

<h4>@Model.HandlerType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateScheme">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="HandlerType" type="hidden" />
            <div class="form-group">
                <label asp-for="Scheme" class="control-label">scheme</label>
                <input asp-for="Scheme" class="form-control" />
                <span asp-validation-for="Scheme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label">display name</label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label">client id</label>
                <input asp-for="ClientId" class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientSecret" class="control-label">client secret</label>
                <input asp-for="ClientSecret" class="form-control" />
                <span asp-validation-for="ClientSecret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
