version: 1.0.{build}
skip_tags: true
stack: node 20, redis
skip_commits:
  message: /^chore(release)/
branches:
  only:
  - master
  - /preview\/*/ 
  - /release\/*/
image: 
- Visual Studio 2022
environment:
  GH_TOKEN: 
    secure: 0NJdORJRFjpB0dwUYv7bVNsbkldkoBhnvWik/CTOwAF/k9kP+/uTWMFnDcpEpt8E
  donetsdk: 10.0.100
  JAVA_HOME: C:\Program Files\Java\jdk19
init:
  - cmd: git config --global core.autocrlf true
install:
  - ps: if ($isWindows) { Install-Product node 20 x64 }
  - cmd: pwsh .\dotnet-install.ps1 -Version %donetsdk%
  - cmd: pwsh .\dotnet-install.ps1 -Version 7.0.404  
  - ps: dotnet tool install --global GitVersion.Tool
  - ps: dotnet gitversion /l console /output buildserver
  - ps: dotnet tool install --global dotnet-sonarscanner
  - ps: if ($isWindows) { .\dotnet-install.ps1 -Version $env:donetsdk }  
  - cmd: set PATH=%JAVA_HOME%\bin;%PATH%
  - cmd: nuget install redis-64 -excludeversion
  - cmd: redis-64\tools\redis-server.exe --service-install
  - cmd: redis-64\tools\redis-server.exe --service-start
  - cmd: nuget install ReportGenerator -ExcludeVersion
  - ps: ./appveyorinit.ps1
build_script:
  - ps: ./build.ps1
test_script:
  - cmd: publish.cmd
artifacts:
  - path: artifacts/**/*.nupkg
    name: nuget    
deploy:
  - provider: NuGet
    api_key:
      secure: IvRjdQGkzrRwGoVkIOi82WddV/UwEm3t0IIhUkL4Ju3PyPRdDMOgAeHLuSmnPLcM
    on:
      branch: 
      - /preview\/*/
      - /release\/*/
      CI_WINDOWS: true
  - provider: GitHub
    auth_token: $(GH_TOKEN)
    draft: true
    prerelease: true
    release: $(Version)
    on:
      branch: 
      - /preview\/*/
      CI_WINDOWS: true
  - provider: GitHub
    auth_token: $(GH_TOKEN)
    draft: true
    release: $(Version)
    on:
      branch: 
      - /release\/*/
      CI_WINDOWS: true
for:
-
  branches:
    only:
      - /release\/*/
  on_success:
      - cmd: semantic-release -b %APPVEYOR_REPO_BRANCH%
