version: 1.0.{build}
skip_tags: true
stack: node 13, redis
skip_commits:
  message: /^chore(release)/
branches:
  only:
  - master
  - /preview\/*/ 
  - /release\/*/
image: 
- Ubuntu
- Visual Studio 2019
environment:
  GH_TOKEN: 
    secure: 0NJdORJRFjpB0dwUYv7bVNsbkldkoBhnvWik/CTOwAF/k9kP+/uTWMFnDcpEpt8E
  donetsdk: 5.0.300
  JAVA_HOME: C:\Program Files\Java\jdk14
init:
  - cmd: git config --global core.autocrlf true
install:
  - ps: if ($isWindows) { Install-Product node '' }
  - sh: wget -q https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb
  - sh: sudo dpkg -i packages-microsoft-prod.deb
  - sh: sudo apt-get update
  - sh: sudo apt-get -y install apt-transport-https
  - sh: sudo chmod +x ./dotnet-install.sh
  - sh: sudo ./dotnet-install.sh -Channel Current -Version $donetsdk -InstallDir ./dotnetsdk -NoPath
  - sh: export PATH=/home/appveyor/projects/dymamicauthproviders/dotnetsdk:$PATH
  - sh: sudo apt -y install nuget
  - ps: if ($isWindows) { .\dotnet-install.ps1 -Version $env:donetsdk }  
  - ps: dotnet tool install --global GitVersion.Tool
  - ps: dotnet gitversion /l console /output buildserver
  - ps: dotnet tool install --global dotnet-sonarscanner
  - cmd: set PATH=%JAVA_HOME%\bin;%PATH%
  - cmd: nuget install redis-64 -excludeversion
  - cmd: redis-64\tools\redis-server.exe --service-install
  - cmd: redis-64\tools\redis-server.exe --service-start
  - cmd: nuget install ReportGenerator -ExcludeVersion
  - ps: ./appveyorinit.ps1
build_script:
  - ps: ./build.ps1
test_script:
  - cmd: publish.cmd
artifacts:
  - path: artifacts/**/*.nupkg
    name: nuget    
deploy:
  - provider: NuGet
    api_key:
      secure: HBPD3UCWOLjcV92x7rGXzAoc4v6pXTY9EOrniVg3ENacY0VVx2m8nEtG4cBi+qm7
    on:
      branch: 
      - /preview\/*/
      - /release\/*/
      CI_WINDOWS: true
  - provider: GitHub
    auth_token: $(GH_TOKEN)
    draft: true
    prerelease: true
    release: $(Version)
    on:
      branch: 
      - /preview\/*/
      CI_WINDOWS: true
  - provider: GitHub
    auth_token: $(GH_TOKEN)
    draft: true
    release: $(Version)
    on:
      branch: 
      - /release\/*/
      CI_WINDOWS: true
for:
-
  branches:
    only:
      - /release\/*/
  on_success:
      - cmd: semantic-release -b %APPVEYOR_REPO_BRANCH%
